---
---

@import "minima";

body {
  background-color: #f3f6fb;
}

.site-header {
  background: linear-gradient(90deg, #0078d4, #2563eb);
}

.site-title,
.site-title:visited,
.site-nav .page-link {
  color: white !important;
}

h1, h2 {
  color: #0078d4;
}

.page-content .wrapper {
  background: white;
  padding: 30px;
  border-radius: 16px;
}
