---
---

@import "minima";

.site-header {
  background-color: #0078d4;
}

.site-title,
.site-title:visited,
.site-nav .page-link {
  color: white !important;
}

body {
  background-color: #f3f6fb;
}

h1, h2 {
  color: #0078d4;
}
