---
---

@import "minima";

/* ===== Global ===== */

body {
  background-color: #f3f6fb;
}

/* ===== Header ===== */

.site-header {
  background: linear-gradient(90deg, #0078d4, #2563eb);
  border-top: none;
  border-bottom: none;
}

/* ===== Title ===== */

.site-title,
.site-title:visited {
  color: white !important;
  font-weight: 600;
}

/* ===== Navigation ===== */
.site-nav {
  background-color: #0078d4 !important;
  border: none !important;
  border-radius: 12px;
}

.site-nav .page-link {
  color: white !important;
  font-weight: 600;
}

.site-nav .menu-icon > svg {
  fill: white !important;
}

.site-nav .trigger {
  background-color: #0078d4 !important;
}

.site-nav input:checked ~ .trigger {
  background-color: #0078d4 !important;
}

/* ===== Titles ===== */

h1,
h2 {
  color: #0078d4;
}
